#osm-map {
  height: 610px;
  width: 100%;
  border: 1px solid #aaa;
}

.custom-div-icon i {
  position: absolute;
  width: 22px;
  font-size: 22px;
  left: 0;
  right: 0;
  margin: 10px auto;
  text-align: center;
}

.leaflet-popup-content {
  color: #000000;
  /* font-weight: bold; */
}

.fa-exclamation {
  color: #ffc312;
}

.fa-map-marker {
  color: green;
}

.fa-map-marker-alt {
  color: #f53b57;
}

.fa-skull-crossbones {
  color:red;
}
