#osm-map {
  height: 400px;
  width: 100%;
  border: 1px solid #aaa;
}
.leaflet-pane > svg path.leaflet-interactive {
  stroke: rgb(51, 136, 255);
  stroke-opacity: 1;
  stroke-width: 1;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
}
.custom-div-icon i {
  position: absolute;
  width: 22px;
  font-size: 22px;
  left: 0;
  right: 0;
  margin: 10px auto;
  text-align: center;
}

.leaflet-popup-content {
  color: #000000;
}

.custom-div-icon .i1 {
  color: #ffc312;
  font-size: x-large;
}

.custom-div-icon .i2 {
  color: #009431c5;
  font-size: medium;
}

.custom-div-icon .i3 {
  font-size: x-large;
  color: red;
}

.custom-div-icon .i4 {
  color: #f53b57;
  font-size: larger;
}
